*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app.card_main_container {
  background: lightblue;
  height: 90vh;
  width: 58%;
  border: 2px solid black;
  margin-top: 43px;
  padding: 20px 110px;
  margin: 30px 27%;
}